<div
  cdkDropList
  [cdkDropListData]="catalog"
  (cdkDropListDropped)="catalogsDropped($event)"
  class="example-headers-align"
  multi
>
  <mat-expansion-panel cdkDrag expanded *ngFor="let category of catalog">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon cdkDragHandle>drag_handle</mat-icon>

        {{ category.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="padding-left: 15px" cdkDropList>
      <div
        cdkDrag
        style="padding-left: 15px"
        *ngFor="let subCategory of category.childrenItemCategories"
      >
        <hr />

        <app-subcategory [subCategory]="subCategory"></app-subcategory>

        <hr />
      </div>

      <div
        cdkDrag
        style="padding-left: 15px"
        *ngFor="let product of category.items"
      >
        <hr />
        <app-product [product]="product"></app-product>
        <hr />
      </div>
    </div>
  </mat-expansion-panel>
</div>
