body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.cdk-drag {
  &-preview {
    display: flex;
  }

  &-placeholder {
    opacity: 0;
  }

  &-animating {
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
}
